@page
@model MyApp.Namespace.AdvisorLoginModel
@{
}

<div id="login-page">
    <div id="container">
        <h1>Advisor Login</h1>

        <form method="post">
            <label for="id">ID</label>
            <input type="text" id="id" id="id" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>

            <input type="submit">
        </form>
        <br>
        <br>
        <a asp-area="" asp-page="StudentLogin">Student</a>
        <br>
        <br>
        <br>
        <a asp-area="" asp-page="/Register/AdvisorRegister">Go to Register</a>
    </div>
    
</div>
