@page
@model DataBaseMs3.Pages.Admin.AdminIssueInstallmentsModel
@{
}

<h1>Admin Issue Installments</h1>

<form method="Post">
    <input type="number" name="paymentid" placeholder="Payment ID" required />
    <button>Issue Installments</button>
</form>