@page
@model DataBaseMs3.Pages.Admin.AdminLinkStudentToAdvisorModel
@{
    Layout = "/Pages/Shared/_AdminLayout.cshtml";
}

<h1>Admin Link Student to Advisor</h1>

<form method="post">
    <input type="number" name="studentID" placeholder="Student ID" required />
    <input type="number" name="advisorID" placeholder="Advisor ID" required />
    <button>  Link  </button>
</form>


@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-success" role="alert">
        @Model.Message
    </div>
}

<script>
    document.getElementById('submitButton').addEventListener('click', function (event) {
        event.preventDefault();
    }
</script>