@page
@model DataBaseMs3.Pages.Admin.AdminDeleteSlotModel
@{
}

<h1>Admin Delete Slot</h1>


<form method="Post">
    <input type="text" name="currentsemester" placeholder="Current semester" required />
    <button>Delete Slot</button>
</form>
