@page
@model DataBaseMs3.Pages.Admin.AdminUpdateStudentStatusModel
@{
}


<h1>Admin Update Student Status</h1>


<form method="Post">
    <input type="number" name="studentid" placeholder="Student ID" required />
    <button>Update Status</button>
</form>