@page
@model DataBaseMs3.Pages.Admin.AdminAddExamModel
@{
}


<h1>Admin Add Exam</h1>

<form method="Post">
    <input type="text" name="type" placeholder="Type" required />
    <input type="datetime" name="date" placeholder="Date" required />
    <input type="number" name="courseID" placeholder="Course ID" required />
    <button>Add Exam</button>
</form>
