@page
@model MyApp.Namespace.StudentModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        h1 {
            @* color: orange; *@
        }
    </style>
</head>
<body>

    <h1>Hi</h1>
    <!-- Your HTML code goes here -->


    <script>
        @* alert("yo"); *@
    </script>
</body>
</html>

