@page
@model MyApp.Namespace.ViewAvailableCoursesModel
@{
    Layout = "/Pages/Shared/_StudentLayout.cshtml";
}


<div id="left-area">
    <form method="post">
        <label for="SemesterCode" class="form-label fs-4 mt-3">Current Semester Code</label>
        <input type="text" class="form-control mb-3" name="SemesterCode" placeholder="Enter Semester Code" value="W25">
        <button type="submit" class="btn btn-secondary">Submit</button>   
    </form>
</div>



@if(Model.isPosted){
    <div id="right-area">
    
        <table>
            <tr>
                <th>Course ID</th>
                <th>Course Name</th>
            </tr>
            @foreach(var course in Model.Courses){
                <tr>
                    <td>@course.courseId</td>
                    <td>@course.name</td>
                </tr>
            }
        </table>
    </div>
}
